@import url("../css/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --branco: #fff;
    --preto: #000;
    --laranja: #FFB050;
    --azul: #4894FF;
    --cinza: #A3A3A3;
    --outer-space-color: #464646;
    --filtro-container-pacientes: blur(11px);
    --shadow-btn-call:  0px 4px 16px 0px rgba(255, 176, 80, 0.16);
    --shadow-btn-address: 0px 4px 16px 0px rgba(72, 148, 255, 0.16);
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #F8F4FF 0%, #EFF0F4 100%);
}

.doctor {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 2.5em 0 2em 1em;
}

.doctor img {
    border-radius: 8em;
    width: 20%;
}

.title {
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 160%;
    color: var(--outer-space-color);
}

.text {
    font-size:  0.875rem;
    color: #A3A3A3;
}

.pacientes {
    padding-inline: 1em;
}

.days-title {
    font-weight: 700;
    line-height: 160%;
    color: var(--outer-space-color);
    padding-bottom: .5em;
}

.container-paciente {
    background: var(--branco);
    padding-block: 1.28rem;
    border-radius: 0.5rem;
}

.paciente {
    display: flex;
    gap: 1rem;
}

.info-paciente {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    border-bottom: 1px solid var(--outer-space-color);
    padding-left: 1rem;
    padding-right: 2rem;
}

.info-paciente img {
    width: 12%;
    border-radius: 50%;
    padding-bottom: .75em;
}

.nome-paciente {
    font-weight: 700;
    line-height: 160%;
    font-size: .875em;
    color: var(--outer-space-color);
}

.tipo-consulta {
    font-size: 0.75rem;
    color: var(--cinza);
}

.tipo-consulta::before {
    content: url('../imagens/Camera.svg');padding-right: .5em;
}

.info-consulta {
    padding-left: 1.5rem;
}

.consulta-text {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 160%;
    color: var(--outer-space-color);
    padding-block: .56rem .5rem;
}

.video {
    border: none;
    color: var(--branco);
    background: var(--laranja);
    padding: .81rem 1.7rem;
    font-weight: 500;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow-btn-address);
}

.audio {
    border: 1px solid #ECECEC;
    border-radius: 0.5rem;
    background: var(--branco);
    padding: .81rem 1.7rem;
    margin-left: 1.12rem;
    color: var(--outer-space-color);
}